.searchbar-container {
  text-align: center;
  padding: 40px 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.searchbar-wrapper {
  width: 30%;
}

.searchbar-input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;
}

.searchbar-input:focus {
  border-color: var(--primary-color);
}

.searchbar-select {
  height: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;
}

.searchbar-view-select {
  display: flex;
  gap: 0.5rem;
}

.searchbar-submit button {
  color: white;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  transition: border 0.3s ease;
}

.searchbar-submit button:hover {
  color: white;
  background-color: var(--primary-color-light);
}

@media (max-width: 768px) {
  .searchbar-wrapper {
    width: 80%;
  }

  .searchbar-input {
    font-size: 14px;
  }
}
