.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 0 40px;
  height: 70px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .header-logo {
  height: 40px;
  width: auto;
}

.header-nav-container {
  display: flex;
  gap: 40px;
  padding-left: 100px;
}

.header-nav-item {
  color: #010101;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2px;
  word-wrap: break-word;
  cursor: pointer;
}

.header-nav-item:hover {
  color: var(--hover-color);
}

.header-nav-item:hover {
  color: var(--hover-color);
}

.header-right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-bell {
  font-size: 20px;
  color: #6c6c6c;
  cursor: pointer;
}

.header-bell:hover {
  color: #3c3c3c;
}

.header-profile-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.header-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.change-language .dropdown-toggle {
  background: var(--primary-color) !important;
  font-family: "Inter", sans-serif;
}

.change-language .dropdown-menu {
  font-family: "Inter", sans-serif;
}

.change-language .dropdown-menu .dropdown-item:active {
  background: var(--primary-color);
}
