.realtime-page-wrapper {
  width: 100%;
  height: 91.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7fe;
}

.realtime-main-map {
  padding: 1rem 0.5rem 1rem 1rem;
  height: 100%;
  width: 45%;
}

.realtime-main-map .realtime-map-wrapper {
  height: 100%;
}

.realtime-posts-popup {
  padding: 1rem 1rem 1rem 0.5rem;
  overflow-y: scroll;
  width: 55%;
  height: 100%;
}

.top-post-bottom {
  padding-inline: 1.5rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 250px;
  display: flex;
}

.top-post-map {
  height: 100%;
  width: 80%;
}

.top-post-insights {
  gap: 0.25rem;
  text-wrap: wrap;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0a9b0a;
  padding-inline: 4rem;
  text-align: center;
}

.top-post-insights svg {
  height: 35px;
  width: 35px;
  color: #0cb60c;
}

.top-post-insights button {
  margin-top: 1rem;
}
