.verify-cards-wrapper {
  width: 100%;
  min-height: 75vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
}

.verify-cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.carousel-inner {
  width: 75% !important;
  min-height: 90%;
  /* margin-block: 1rem; */
  /* padding: 2rem; */
  /* display: flex; */
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  border-radius: 25px;
}

.verify-card-container {
  width: 100%;
  background: #f4f7fe;
  padding: 2rem;
}

.verify-card-bottom {
  padding-block: 1rem;
  width: 70%;
  min-width: 65vw;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}

.verify-card-container textarea {
  width: 60%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 11px;
  border: 1px solid var(--primary-color-light);
  height: 200px;
  padding: 1rem 1.2rem;
}

.verify-card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.verify-card-button {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
  border-radius: 6px;
}

.verify-card-button:hover {
  background-color: var(--light-gray);
  color: var(--primary-color);
}

.verify-card-button:active {
  color: var(--primary-color);
  background-color: var(--light-gray) !important;
  transform: scale(0.98);
}

.verify {
  color: white !important;
  text-decoration: none;
  font-weight: 700 !important;
  letter-spacing: 1px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  /* margin-block: 1rem; */
}

.verify:hover {
  background-color: var(--primary-color-light);
}

.verify:active {
  background-color: var(--primary-color-light) !important;
  transform: scale(0.98);
}

.remove svg {
  transition: color 0.2s ease-in-out;
}

.remove:hover {
  background-color: var(--warning-red);
  border: 1px solid transparent;
  color: white;
}

.remove:hover svg {
  color: white !important;
}

#verify-card-dropdown {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: var(--primary-color);
  font-weight: 600;
  padding-block: 0.5rem;
  border: 1px solid red;
}

#verify-card-dropdown svg {
  transition: color 0.2s ease-in-out;
}

#verify-card-dropdown:hover {
  background-color: var(--warning-red);
  border: 1px solid transparent;
  color: white;
}

#verify-card-dropdown:hover svg {
  color: white !important;
}

.verify-card-remove-dropdown .dropdown-item:active {
  background-color: var(--primary-color) !important;
}

.verify-card-remove-dropdown .dropdown-item {
  transition: color 0.2s ease-in-out;
}

.verify-card-remove-dropdown .dropdown-item svg {
  transition: color 0.2s ease-in-out;
}

.verify-card-remove-dropdown .dropdown-item:hover {
  background-color: var(--warning-red);
  color: white;
}

.verify-card-remove-dropdown .dropdown-item:hover svg {
  color: white !important;
}
